---
import Icon from "astro-icon";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section
    class="h-screen gap-2 text-center justify-center items-center flex flex-col"
  >
    <Icon name="icon-park-outline:error" class="w-14"/>
    <h1 class="text-4xl text-red-400">404</h1>
    <p>Esta ruta no existe</p>
    <a aria-label="Volver a inicio" href="/" class="px-5 py-3 hover:bg-white hover:text-black transiti rounded-md my-3 border-2">
      <h2>Ir al inicio</h2>
    </a>
  </section>
</Layout>
