---
import Layout from "../layouts/Layout.astro";
import certifications from "../mocks/certifications.json";
---

<Layout noFooter>
  <section id="home" class="m-5 mt-28 flex flex-col text-center">
    <h2 class="text-4xl opacity-80 md:my-8 my-16 animated-text-write m-auto w-[12.4ch]">Certificaciones</h2>

    <div class="grid grid-template gap-10 md:m-20">
      {
        certifications.map((cer) => (
          <article class="flex flex-col gap-5 hover:scale-105 transition-all">
            <h2 class="text-xl opacity-75">{cer.title}</h2>
            <a target="_blank" href={cer.image}>
              <img src={cer.image} class="w-full rounded" alt={cer.title} />
            </a>
          </article>
        ))
      }
    </div>
  </section>
</Layout>

<style>
  .grid-template {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
</style>
