---
import Layout from "../layouts/Layout.astro";

---

<Layout noFooter>
  <section class="h-screen w-full flex justify-center items-center">
    <h2>Trabajando en esto :)</h2>
  </section>
</Layout>