---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import myImage from "../assets/myimage.jpg";
import Icon from "astro-icon";
---

<Layout noFooter>
  <section class="h-screen w-full flex justify-center items-center">
    <article
      class="bg-neutral-600 md:flex-row flex-col flex max-w-3xl lg:max-w-6xl gap-2 rounded-md shadow-lg overflow-hidden lg:m-0 m-4 mt-48"
    >
      <div class="bg-neutral-400 relative text-black flex flex-col">
        <div class="flex justify-center items-center gap-2 flex-col p-5">
          <Image
            src={myImage}
            alt="me"
            class="w-44 select-none pointer-events-none my-4 rounded-full"
          />
          <h2 class="text-xl my-2 font-bold">Said Samuel Aya Franco</h2>
          <p class="text-md mb-16">Estudiante de Desarrollo de Software</p>
        </div>
        <div
          class="flex gap-4 absolute w-full bottom-0 justify-center p-2 bg-neutral-300 items-center mt-5"
        >
          <a
            target="_blank"
            href="mailto:saidsamuel2006@hotmail.com"
            rel="noreferrer"
          >
            <Icon
              name="fluent:mail-16-filled"
              class="w-9 transition-colors hover:text-neutral-500"
            />
          </a>
          <a
            target="_blank"
            href="https://github.com/shogunIncognito"
            rel="noreferrer"
          >
            <Icon
              name="mdi:github"
              class="w-9 rounded-full transition-colors hover:text-neutral-500"
            />
          </a>
          <a
            target="_blank"
            href="https://www.linkedin.com/in/samuel-aya/"
            rel="noreferrer"
          >
            <Icon
              name="mdi:linkedin"
              class="w-9 transition-colors hover:text-neutral-500"
            />
          </a>
        </div>
      </div>

      <div class="flex-1 m-4">
        <h3 class="text-3xl font-bold text-center mb-7 self-start">¡Hola!</h3>
        <p class="text-lg">
          Soy un estudiante de Desarrollo de Software con experiencia en la
          creación de proyectos personales utilizando diversas tecnologías,
          tales como React, Next.js y Tailwind CSS. Además, he trabajado en el
          desarrollo de APIs con Node.js y he participado en proyectos
          colaborativos. Me gusta practicar constantemente para adquirir nuevas
          habilidades y mejorar mis conocimientos en el campo del desarrollo de
          software.
        </p>

        <div class="mt-5">
          <h3 class="text-xl">Estudios</h3>
          <ul class="list-disc pl-5">
            <li>
              <p>
                <span class="font-bold">Universidad Minuto de Dios</span> -
                Tecnología en Desarrollo de Software
              </p>
              <small>2022 - 2024</small>
            </li>
          </ul>
        </div>
      </div>
    </article>
  </section>
</Layout>
