---
import { Icon } from "astro-icon";

const { project } = Astro.props;
---

<article
  class="relative h-80 m-2 shadow-lg bg-cover flex flex-col rounded-md lg:overflow-hidden"
>
  <header class="absolute rounded-md object-cover w-full h-full -z-10">
    <img
      class="hover:scale-105 rounded-md w-full h-full grayscale-[0.7] hover:grayscale-0 transition-all rounded-t-xl object-cover"
      src={project.image || "https://via.placeholder.com/1280x720"}
      alt="sd"
    />
  </header>
  <div class="bg-black/70 h-full rounded-md">
    <div class="p-6 h-full md:mt-3">
      <h3 class="text-2xl font-bold">{project.title}</h3>
      <p class="text-xl opacity-80 mt-1">{project.description}</p>
      <div class="my-4">
        {
          project.languages.map((lang) => (
            <span class="bg-gray-600 capitalize text-white text-sm px-2 py-1 rounded-md mr-2 mt-2">
              {lang}
            </span>
          ))
        }
      </div>
    </div>
    <div class="flex w-full md:w-1/2 gap-2 p-5 absolute bottom-0">
      <a
        class="bg-gray-600 flex items-center justify-center shadow-lg rounded-md text-white w-full text-center py-2 hover:bg-gray-700"
        href="#"
      >
        <Icon name="ph:eye-light" class="w-8" />
      </a>
      <a
        class="bg-gray-600 flex justify-center items-center shadow-lg rounded-md text-white w-full text-center py-2 hover:bg-gray-700"
        href="#"
      >
        <Icon name="mdi:github" class="w-8" />
      </a>
    </div>
  </div>
</article>
