---
import ProjectCard from "./ProjectCard.astro";
import projects from "../mocks/projects";
import Icon from "astro-icon";
---

<section id="projects" class="p-10 relative flex flex-col w-full">
    <h1 class="text-4xl text-center opacity-80 font-bold my-16">Proyectos</h1>
    <Icon
        name="ri:arrow-down-line"
        class="opacity-80 md:hidden animate-bounce w-12 right-0 self-center"
    />
    <div
        class="projects-container grid overflow-auto lg:overflow-visible lg:max-h-full max-h-[50dvh] justify-center grid-cols-1 md:grid-cols-2 2xl:grid-cols-3 gap-5 lg:mx-[3%]"
    >
        {projects.map((project) => <ProjectCard project={project} />)}
    </div>
</section>
