html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

.landing-hero {
  position: relative;
  background: linear-gradient(148deg,#0099ff8a,#0000 50%);
}

body {
  background-color: #212121;
  color: white;
}

.rainbow-text {
  background-image: linear-gradient(to left, #FFD700, #7B68EE, #3498db, #2ecc71, #FFD700);
  color: transparent;
  background-clip: text;
  background-size: 500%;
  animation: color 35s linear infinite;    
}

.animated-text-write {
  display: block;
  white-space: nowrap;
  border-right: 4px solid;
  width: 10ch;  
  animation: typing 1.4s steps(12), blink .5s infinite step-end alternate;
  overflow: hidden;
}

.header-nav {
  @apply border-gray-700;
}

@keyframes typing {
  from { width: 0 }
}

@keyframes blink {  
  50% { border-color: transparent; }
}

@keyframes color {
  0% {
      background-position: 0 0;
  }

  50% {
      background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}